.video {
  width: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-image: url('../../../../src/assets/images/map/Kyrgyzstan.png');
  mask-repeat: no-repeat;
  mask-size: 100%;
}